In [1]:
import pandas as pd
import numpy as np

In [2]:
full_dataset = pd.read_csv(r'/Users/allysonenglish/Desktop/workbench/working_data_7_days.csv', low_memory=False).drop(columns=['year', 'quarter', 'one_way', 'surface', 'road_type'])

In [3]:
sample = full_dataset[:150]

In [4]:
time_of_day = pd.Series([])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [5]:
for i in range(0, len(sample)):
    if sample['hour_of_day'][i] >= 22 or sample['hour_of_day'][i] <= 5:
        time_of_day[i] = "overnight"
    if sample['hour_of_day'][i] >= 6 and sample['hour_of_day'][i] <= 9:
        time_of_day[i] = "morning"
    if sample['hour_of_day'][i] >= 10 and sample['hour_of_day'][i] <= 16:
        time_of_day[i] = "midday"
    if sample['hour_of_day'][i] >= 17 and sample['hour_of_day'][i] <= 21:
        time_of_day[i] = "evening"

In [6]:
sample.insert(0, "time_of_day", time_of_day)

In [7]:
sample.set_index(['time_of_day', 'hour_of_day'])

                         osm_way_id  speed_kph_mean  speed_kph_stddev  \
time_of_day hour_of_day
evening     19             40317987          29.503             8.988
morning     9              40317987          35.116             7.875
overnight   23             40317987          36.172             8.356
midday      13             40317987          33.293            11.836
morning     6              40317987          36.660            10.839
...                             ...             ...               ...
            8              40317987          23.411             8.866
midday      12             40317987          22.937             8.574
morning     9              40317987          23.717            10.387
midday      16             40317987          22.473             6.070
overnight   3              40317987          22.067             2.999

                         speed_kph_p85          road_name
time_of_day hour_of_day
evening     19                  35.628  Mumias South Road
morning     9                   43.346  Mumias South Road
overnight   23                  43.782  Mumias South Road
midday      13                  41.058  Mumias South Road
morning     6                   44.905  Mumias South Road
...                                ...                ...
            8                   25.133  Mumias South Road
midday      12                  25.271  Mumias South Road
morning     9                   25.191  Mumias South Road
midday      16                  25.003  Mumias South Road
overnight   3                   24.183  Mumias South Road

[150 rows x 5 columns]

In [8]:
sample.groupby('time_of_day').mean()

,hour_of_day,osm_way_id,speed_kph_mean,speed_kph_stddev,speed_kph_p85
time_of_day,,,,,
evening,19.000000,40317987.0,21.903100,7.969867,25.555467
midday,13.045455,40317987.0,22.533318,8.072477,26.519023
morning,7.518519,40317987.0,24.614667,8.360296,28.311148
overnight,7.408163,40317987.0,25.367327,7.084408,29.030694